# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
/.env

# Projects
input/
results/
temp/

# Third party models & checkpoints
models_third_party/
checkpoints/
eval.jsonl

# UV / Hatch
dist/
build/
*.egg-info/

# Jupyter & Caches
.ipynb_checkpoints/
**/.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# OS & Editor
.DS_Store
.vscode/
.idea/
