# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
/.env

# Projects
input/
results/
#temp/

# Third party models & checkpoints
models_third_party/
checkpoints/

# UV / Hatch
dist/
build/
*.egg-info/
